vue-client/.DS_Store
vue-client/node_modules
express-server/node_modules
vue-client/dist


# local env files
vue-client/.env.local
vue-client/.env.*.local

# Log files
vue-client/npm-debug.log*
vue-client/yarn-debug.log*
vue-client/yarn-error.log*
vue-client/pnpm-debug.log*

# Editor directories and files
vue-client/.idea
vue-client/.vscode
vue-client/*.suo
vue-client/*.ntvs*
vue-client/*.njsproj
vue-client/*.sln
vue-client/*.sw?
